@import "variables";
@import "reset";

html { 
    background: #000000;
}

// HEADER ---------------------------------------------==
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;

    .box-header {
        min-height: 80px;
        align-items: center;
        .menu {
            height: 100%;
            line-height: 4.5;
    
            ul {
                margin-bottom: 0;
                li {
                    margin-right: 30px;
                    display: inline-block;
                }
            }
            
            a {
                color: $color-second;
                font-family: $font-primary;
                font-weight: $fw-0;
                font-size: 16px;
            }
            .login-btn {
                a {
                    margin-top: 1px;
                    padding: 10px 40px;
                    border: 1px solid $color-second;
                }
            }
        }
    }
}

// HERO SECTION ---------------------------------------------==
.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: $color-primary;
    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 730px;

        h1, p {
            color: $color-second;
            font-family: $font-second;
            text-align: center;
        }
        h1 {
            font-size: 80px;
            line-height: 88px;
            letter-spacing: 0,2px;
        }
        
        p {
            font-family: $font-primary;
            font-size: 20px;
            padding: 10px;
            min-height: 80px;
            max-width: 600px;
            margin-top: 20px;
        }

        .button-box {
            height: 150px;
            display: flex;
            align-items: center;
            .btn-one {
                font-size: 17px;
                font-family: $font-second;
                color: $color-second;
                background: $color-third;
                padding: 15px 30px;
                margin-right: 30px;
                transition: .3s ease-out;
                margin-bottom: 0px;
                &:hover {
                    color: $color-third;
                    background: transparent;
                    border: 1px solid $color-third;
                    text-decoration: none;
                }
            }
            .btn-two {
                font-size: 17px;
                font-family: $font-second;
                color: $color-second;
                background: transparent;
                padding: 15px 30px;
                border: 1px solid $color-second;
                transition: .3s ease-out;
                margin-bottom: 0px;
                &:hover {
                    border: 1px solid $color-third;
                    background: transparent;
                    color: $color-third;
                    text-decoration: none;
                }
            }
        }
    }
}

.img-hero {        overflow-x: hidden;

    background-color: $color-primary;
    .box-img {
        place-items: center;
        place-content: center;
        height: 1000px;
        background: linear-gradient(hsla(0, 0%, 0%, 0.25), #000000),    
                    url("../images/hero__image.png") no-repeat center center / cover;
    }
}
